<!DOCTYPE html>
<html>

<head>
  <meta name="google-signin-client_id" content="614270118357-kekmob8vr12mlc8bhi6vcstqhdlj39fm.apps.googleusercontent.com">
  <meta name="google-signin-cookiepolicy" content="single_host_origin">
  <meta name="google-signin-scope" content="profile email">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>
</html>
