<!DOCTYPE html>
<html>

<head>
  <meta name="google-signin-client_id" content="614270118357-k2hfb77oft1qsl25tdthuvl33bt3i1a5.apps.googleusercontent.com">
  <meta name="google-signin-cookiepolicy" content="single_host_origin">
  <meta name="google-signin-scope" content="profile email">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

</html>
