<div id ="main-container">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nbar">                    
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>


        <div id ="searchBar">
            <form class="form-inline my-2 my-lg-0" id="searchBar">
                <input class="form-control mr-sm-2" type="search"  aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id="searchButt">Search</button>
            </form>
        </div>

        <div class="jumbotron">
            <h1 class="display-4">Uwell</h1>
            <p class="lead">Uwell is a community where amazing people like you gather together and spread positive vibes. Whether it be a simple task or a huge achievement, share it with us! Need ideas or motivation? See what others are sharing now and start inspiring others with that great mind of yours.</p>
            <hr class="my-4">
            <p>Don't have an account?</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
        </div>