<script src="js/login.js"></script>

<div id="main-container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nbar">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    

    <div id="main-modal">
        <div class="modal-dialog text-center">
            <div class="col-sm-8 main-section">
                <div class="modal-content">
                    <div class="col-12 user-img">
                        <img src="./styles/images/rsz_user_avatar_2.png">
                    </div>
                    <div class="col-12 user-name">
                        <h1>uWell</h1>
                    </div>
                    <div class="col-12 form-input">
                        <form>
                            <div class="form-group">
                                <input id="login-email" type="name" class="form-control" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input id="login-password" type="password" class="form-control" placeholder="Password">
                            </div>
                            <div id="registerButt">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Register
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
                            

                            
                            <div id="googButt">
                                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                                </div>
                        </form>
                    </div>
                    <div id="forGot">
                    <div class="col-12 link-part">
                        <a href="#">Forgot Password?</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    

</div>