html, body, #main-container {

  max-height: 100%;
  max-width: 100%;
  background-color: silver;
  
}

/* main modal on login page */
#main-modal{
  
  margin-left: 150px;
  padding-top: 50px;

}

#signupButt .g-signin2 {

  padding-top: 5px;
  justify-content: center;
  
}

/* home page */

#searchBar {

  float: right;
  padding-right: 10px;
  padding-top: 5px;
  margin: 0px;
  padding-bottom: 0;

}

#searchButt {

  width: 100px;

}

#activiFeed {

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 125px;
  
}

#activiFeed :hover{

  background-color: slategrey;

}

#addFeed {

  padding-top: 5px;
  padding-left: 135px;

}