html, body, #main-container {

  max-height: 100%;
  max-width: 100%;
  background-color: silver;
  
}

/* main modal on login page */
#main-modal{
  
  margin-left: 150px;
  padding-top: 50px;

}


.item {
  float: left;

  margin: 10px;

}

#logButt {

  width: 150px;
  margin-bottom: 10px;

} 


.item {
  float: left;

  margin: 10px;
}


