html, body {

  max-height: 100%;
  max-width: 100%;
  
}

.container1 {

  background-image: url(https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/211195/5000/3333/m1/fpnw/wm1/abstract-background-of-cells-br1-.jpg?1413646058&s=76e1a3a89484099bc6c46f0c24ac5a7f);
  background-size: cover;


}

#main-container {

 
  height: 200%;
  /* max-height: 500%; */
  background-image: url(https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/238538/5000/3333/m1/fpnw/wm1/abstract-background-of-hexagonal-cells-gradient1-.jpg?1416235816&s=f079cf4fda00a7fa34b30650015b9177);
  background-size: cover;


}

#main-container1 {

  background-image: url(https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/211195/5000/3333/m1/fpnw/wm1/abstract-background-of-cells-br1-.jpg?1413646058&s=76e1a3a89484099bc6c46f0c24ac5a7f); 
  background-size: contain;


}


/* main modal on login page */
#main-modal{
  
  margin-left: 150px;
  padding-top: 50px;

}

#avaTar {

  margin-top: 5px;
  
}

#registerButt {

  padding-top: 5px;
  
}

#googButt {

  margin-top: 20px;
  margin-left:75px;

}

#forGot {

  margin-top: 20px;
  margin-bottom: 20px;

}

/* home page */

#searchBar {

  float: right;
  padding-right: 10px;
  padding-top: 5px;
  margin: 0px;
  padding-bottom: 0;

}

#searchButt {

  width: 100px;

}

#signedIn {

  display: inline-block;
  margin-left: 275px;

}


#activiFeed {

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 125px;
  
}

#listItem {

  margin-top: 20px;

}

.list-group-item {

  background-color: #c8d6e5;

}

#addFeed {

  padding-top: 5px;
  padding-left: 135px;

}

#profilePhoto {
  width: 100%;
  height: 100%;

  margin: 10px;

  border: lightblue solid;
}

#bioText {
  margin: 10px;
  color: navy;
}

#addFriendButton, #editProfileButton, #nameButton {
  margin: 10px;  
  /* toggle visibility based on whether addFriend option is available*/
  
  /* visibility: hidden; */
}

#nameButton {
  width: 100%;
}

/* #categoriesInput {
  background-color: pink;

} */